.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container input[type="text"],
.search-container input[type="number"] {
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-container button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #21a1f1;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-item {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.recipe-item img {
  max-width: 100%;
  border-radius: 8px;
}

.search-by-name-container,
.random-recipe-container {
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
  margin: 10px;
}


